// _variables.scss

$bg-color1: #FDFDFD;
$ct-border-color: #E9ECEF;
$ct-font-sans-serif: "Montserrat", sans-serif;
$font-color-black: #000000;
$font-color1: #333333;
$font-color2: #76787D;
$font-color-logo: #E31F24;